 #canvasWrapper {
     background-color: #050510;
     background: url('../img/bg.png') #050510 center top no-repeat;
     /*background: transparent;*/
 }
 
 ::-webkit-scrollbar {
     display: none;
 }
 
 :-webkit-full-screen {
     background-color: transparent;
 }
 
 :-moz-full-screen {
     background-color: transparent;
 }
 
 :fullscreen {
     background-color: transparent;
 }